/* Style for the button */
.dropdownBtn {
  color: #333;
  border: none;
  cursor: pointer;
  padding: 12px 16px;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s;
}

/* Style for the dropdown content */
.dropdownContent {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdownContent {
  display: block;
}

/* Style for dropdown links */
.dropdownContent a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Hover effect for dropdown links */
.dropdownContent a:hover {
  background-color: #f1f1f1;
}
