.table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  overflow: scroll;
}

.table td input {
  min-width: 100px;
}

@media screen and (max-width: 1200px) {
  .table {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .table td input {
    font-size: 0.75rem;
  }
}
.options {
  align-items: center;
}
