.messageWrapper {
  width: 100%;
}
.messageText {
  resize: none;
  width: 100%;
  border-radius: 40px;
  min-height: 50px;
  padding: 10px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}
