.category p {
  font-size: 20px;
  font-weight: 500;
}
.category p span {
  font-size: 20px;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  .category p {
    font-size: 15px;
  }
  .category p span {
    font-size: 15px;
  }
}
