.select {
  font-weight: 300;
}
.input {
  background-color: #f7f7f9;
  border-radius: 1px;
  min-width: 100px;
  padding: 0.9rem;
}
.label {
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .input {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 576px) {
  .input {
    font-size: 0.8rem;
  }
  .container {
    margin: 0;
    padding: 0;
  }
}
