.image {
  position: fixed;
  right: 0px;
  z-index: -1;
}

@media (max-width: 1300px) {
  .image {
    display: None;
  }
}
.button {
  padding-left: 100px;
}

.links {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
}
