.category p {
  font-size: 20px;
  font-weight: 500;
}
.category p span {
  font-size: 20px;
  font-weight: normal;
}
@media screen and (max-width: 568px) {
  .category p {
    font-size: 16px;
  }

  .category p span {
    font-size: 13px;
    font-weight: normal;
  }
}
