.orderCard {
  color: #fff;
}

.bgBlue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bgGreen {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bgYellow {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.bgPink {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}
.bgRed {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card .cardBlock {
  padding: 30px 30px;
}
.card .cardBlock svg {
  font-size: 25px;
}
.card .cardBlock h6 {
  font-size: 1.1rem;
  font-weight: 500;
}
.orderCard i {
  font-size: 26px;
}

.fLeft {
  float: left;
}

.fRight {
  float: right;
}
.card .cardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.moreInfo {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
.bgBlue .moreInfo {
  background: linear-gradient(45deg, #1c5da8, #1d73d4);
}

.bgGreen .moreInfo {
  background: linear-gradient(45deg, #1ca086, #1cd4b2);
}

.bgYellow .moreInfo {
  background: linear-gradient(45deg, #b67700, #d49a00);
}

.bgPink .moreInfo {
  background: linear-gradient(45deg, #a8004d, #d4006b);
}
.bgRed .moreInfo {
  background: linear-gradient(45deg, #a8004d, #d4006b);
}

@media screen and (max-width: 1377px) {
  .card {
    margin-bottom: 15px;
  }
  .card .cardBlock .cardBody {
    font-size: 1.2rem;
  }
  .card .cardBlock {
    padding: 20px 20px;
  }
  .card .cardBlock svg {
    font-size: 20px;
  }
  .card .cardBlock h6 {
    font-size: 1rem;
  }
  .orderCard i {
    font-size: 20px;
  }

  .card .cardBody .fLeft {
    margin-bottom: 10px;
  }
  .card .cardBody .fRight {
    margin-top: 10px;
  }
  .card .cardBody .fRight .moreInfo {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    margin-bottom: 15px;
  }
  .card .cardBlock {
    padding: 20px 20px;
  }
  .card .cardBlock svg {
    font-size: 30px;
  }
  .card .cardBlock h6 {
    font-size: 1rem;
  }
  .orderCard i {
    font-size: 20px;
  }

  .card .cardBody .fLeft {
    margin-bottom: 10px;
  }
  .card .cardBody .fRight {
    margin-top: 10px;
  }
  .card .cardBody .fRight .moreInfo {
    margin-top: 10px;
  }
}
